vrrp_script chk_haproxy {
    script "killall -0 haproxy"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    interface ens192
    state BACKUP
    priority 100

    virtual_router_id 33
{% if 'hap4' in inventory_hostname %}
    unicast_src_ip {{ okd_lb_secondary.ipa }}
{% else %}
    unicast_src_ip {{ loadbalancer_secondary.ipa }}
{% endif %}
    unicast_peer {
{% if 'hap4' in inventory_hostname %}
        {{ okd_lb_primary.ipa }}
{% else %}
        {{ loadbalancer_primary.ipa }}
{% endif %}
    }

    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalive.password }}
    }

    virtual_ipaddress {
{% if 'hap4' in inventory_hostname %}
        {{ okd_lb_vip.ipa }}
{% else %}
        {{ loadbalancer_vip.ipa }}
{% endif %}
    }

    track_script {
        chk_haproxy
    }
}

