vrrp_script chk_haproxy {
    script "killall -0 haproxy"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    interface {{ loadbalancer_vip.interface }}
    state MASTER
    priority 200

    virtual_router_id 33
    unicast_src_ip {{ loadbalancer_primary.ipa }}
    unicast_peer {
        {{ loadbalancer_secondary.ipa }}
    }

    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalive.password }}
    }

    virtual_ipaddress {
        {{ loadbalancer_vip.ipa }}
    }

    track_script {
        chk_haproxy
    }
}

