apiVersion: v1
baseDomain: {{ site.domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ site.name }}
networking:
  clusterNetwork:
  - cidr: {{ ocp.cluster_network }}
    hostPrefix: 23 
  machineNetwork:
  - cidr: {{ ocp.machine_network }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ ocp.service_network }}

platform:
  none: {}
fips: false
pullSecret: '{{ pull_secret }}'
sshKey: '{{ pub_key }}'

