



{{ control[0].name }},{{ site.name }},{{ control[0].ipa }},{{ gateway.ipa }},{{ control[0].macaddr|replace('-', ':') }},{{ control[0].ipa }},{{ gateway.ipa }},{{ control[0].macaddr|replace('-', ':') }},{{ dns_primary.ipa }},{{ dns_secondary.ipa }}
{{ control[1].name }},{{ site.name }},{{ control[1].ipa }},{{ gateway.ipa }},{{ control[1].macaddr|replace('-', ':') }},{{ control[1].ipa }},{{ gateway.ipa }},{{ control[1].macaddr|replace('-', ':') }},{{ dns_primary.ipa }},{{ dns_secondary.ipa }}
{{ control[2].name }},{{ site.name }},{{ control[2].ipa }},{{ gateway.ipa }},{{ control[2].macaddr|replace('-', ':') }},{{ control[2].ipa }},{{ gateway.ipa }},{{ control[2].macaddr|replace('-', ':') }},{{ dns_primary.ipa }},{{ dns_secondary.ipa }}
#
{{ workers[0].name }},{{ site.name }},{{ workers[0].ipa }},{{ gateway.ipa }},{{ workers[0].macaddr|replace('-', ':') }},{{ workers[0].ipa }},{{ gateway.ipa }},{{ workers[0].macaddr|replace('-', ':') }},{{ dns_primary.ipa }},{{ dns_secondary.ipa }}
{{ workers[1].name }},{{ site.name }},{{ workers[1].ipa }},{{ gateway.ipa }},{{ workers[1].macaddr|replace('-', ':') }},{{ workers[1].ipa }},{{ gateway.ipa }},{{ workers[1].macaddr|replace('-', ':') }},{{ dns_primary.ipa }},{{ dns_secondary.ipa }}
{{ workers[2].name }},{{ site.name }},{{ workers[2].ipa }},{{ gateway.ipa }},{{ workers[2].macaddr|replace('-', ':') }},{{ workers[2].ipa }},{{ gateway.ipa }},{{ workers[2].macaddr|replace('-', ':') }},{{ dns_primary.ipa }},{{ dns_secondary.ipa }}
{{ workers[3].name }},{{ site.name }},{{ workers[3].ipa }},{{ gateway.ipa }},{{ workers[3].macaddr|replace('-', ':') }},{{ workers[3].ipa }},{{ gateway.ipa }},{{ workers[3].macaddr|replace('-', ':') }},{{ dns_primary.ipa }},{{ dns_secondary.ipa }}
{{ workers[4].name }},{{ site.name }},{{ workers[4].ipa }},{{ gateway.ipa }},{{ workers[4].macaddr|replace('-', ':') }},{{ workers[4].ipa }},{{ gateway.ipa }},{{ workers[4].macaddr|replace('-', ':') }},{{ dns_primary.ipa }},{{ dns_secondary.ipa }}
{{ workers[5].name }},{{ site.name }},{{ workers[5].ipa }},{{ gateway.ipa }},{{ workers[5].macaddr|replace('-', ':') }},{{ workers[5].ipa }},{{ gateway.ipa }},{{ workers[5].macaddr|replace('-', ':') }},{{ dns_primary.ipa }},{{ dns_secondary.ipa }}

