



{{ okd_control[0].name }},{{ site.name }},{{ okd_control[0].ipa }},{{ gateway.ipa }},{{ okd_control[0].macaddr|replace('-', ':') }},{{ okd_control[0].ipa }},{{ gateway.ipa }},{{ okd_control[0].macaddr|replace('-', ':') }},{{ 192.168.1.254 }}
{{ okd_control[1].name }},{{ site.name }},{{ okd_control[1].ipa }},{{ gateway.ipa }},{{ okd_control[1].macaddr|replace('-', ':') }},{{ okd_control[1].ipa }},{{ gateway.ipa }},{{ okd_control[1].macaddr|replace('-', ':') }},{{ 192.168.1.254 }}
{{ okd_control[2].name }},{{ site.name }},{{ okd_control[2].ipa }},{{ gateway.ipa }},{{ okd_control[2].macaddr|replace('-', ':') }},{{ okd_control[2].ipa }},{{ gateway.ipa }},{{ okd_control[2].macaddr|replace('-', ':') }},{{ 192.168.1.254 }}
#
{{ okd_workers[0].name }},{{ site.name }},{{ okd_workers[0].ipa }},{{ gateway.ipa }},{{ okd_workers[0].macaddr|replace('-', ':') }},{{ okd_workers[0].ipa }},{{ gateway.ipa }},{{ okd_workers[0].macaddr|replace('-', ':') }},{{ 192.168.1.254 }}
{{ okd_workers[1].name }},{{ site.name }},{{ okd_workers[1].ipa }},{{ gateway.ipa }},{{ okd_workers[1].macaddr|replace('-', ':') }},{{ okd_workers[1].ipa }},{{ gateway.ipa }},{{ okd_workers[1].macaddr|replace('-', ':') }},{{ 192.168.1.254 }}
{{ okd_workers[2].name }},{{ site.name }},{{ okd_workers[2].ipa }},{{ gateway.ipa }},{{ okd_workers[2].macaddr|replace('-', ':') }},{{ okd_workers[2].ipa }},{{ gateway.ipa }},{{ okd_workers[2].macaddr|replace('-', ':') }},{{ 192.168.1.254 }}
{{ okd_workers[3].name }},{{ site.name }},{{ okd_workers[3].ipa }},{{ gateway.ipa }},{{ okd_workers[3].macaddr|replace('-', ':') }},{{ okd_workers[3].ipa }},{{ gateway.ipa }},{{ okd_workers[3].macaddr|replace('-', ':') }},{{ 192.168.1.254 }}
{{ okd_workers[4].name }},{{ site.name }},{{ okd_workers[4].ipa }},{{ gateway.ipa }},{{ okd_workers[4].macaddr|replace('-', ':') }},{{ okd_workers[4].ipa }},{{ gateway.ipa }},{{ okd_workers[4].macaddr|replace('-', ':') }},{{ 192.168.1.254 }}
{{ okd_workers[5].name }},{{ site.name }},{{ okd_workers[5].ipa }},{{ gateway.ipa }},{{ okd_workers[5].macaddr|replace('-', ':') }},{{ okd_workers[5].ipa }},{{ gateway.ipa }},{{ okd_workers[5].macaddr|replace('-', ':') }},{{ 192.168.1.254 }}

