global
	log /dev/log local0
	log /dev/log local1 notice
	chroot /var/lib/haproxy
	stats socket /var/lib/haproxy/admin.sock mode 660 level admin expose-fd listeners
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	# An alternative list with additional directives can be obtained from
	#  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

defaults
	log     global
	mode    http
	option  httplog
	option  dontlognull
	timeout connect 5s
	timeout client  50s
	timeout server  50s

#---------------------------------------------------------------------
listen stats
	bind *:1936
	mode http
	log  global
	maxconn 10
	stats enable
	stats hide-version
	stats refresh 30s
	stats show-node
	stats show-desc Stats for {{ site.name }} OCP cluster
	stats uri /
	monitor-uri /healthz/ready


frontend kubernetes-api-server
	bind *:6443
	default_backend kubernetes-api-server
	mode tcp
	option tcplog

backend kubernetes-api-server
	mode tcp
{% if 'hap3' in inventory_hostname %}
	server {{ bootstrap.name }} {{ bootstrap.ipa }}:6443 check
{% for c in okd_control %}
	server {{ c.name }} {{ c.ipa }}:6443 check
{% endfor %}
{% else %}
{% for c in control %}
	server {{ c.name }} {{ c.ipa }}:6443 check
{% endfor %}
{% endif %}

frontend machine-config-server
	bind *:22623
	default_backend machine-config-server
	mode tcp
	option tcplog

backend machine-config-server
	mode tcp
{% if 'hap3' in inventory_hostname %}
	server {{ bootstrap.name }} {{ bootstrap.ipa }}:6443 check
{% for c in okd_control %}
	server {{ c.name }} {{ c.ipa }}:22623 check
{% endfor %}
{% else %}
{% for c in control %}
	server {{ c.name }} {{ c.ipa }}:22623 check
{% endfor %}
{% endif %}


frontend ingress-http
	bind *:80
	default_backend ingress-http
	mode tcp
	option tcplog

backend ingress-http
	balance source
	mode tcp
{% if 'hap3' in inventory_hostname %}
{% for w in okd_workers %}
	server {{ w.name }}-http-router{{ loop.index0 }} {{ w.ipa }}:80 check
{% endfor %}
{% else %}
{% for w in workers %}
	server {{ w.name }}-http-router{{ loop.index0 }} {{ w.ipa }}:80 check
{% endfor %}
{% endif %}


frontend ingress-https
	bind *:443
	default_backend ingress-https
	mode tcp
	option tcplog

backend ingress-https
	balance source
	mode tcp
{% if 'hap3' in inventory_hostname %}
{% for w in okd_workers %}
	server {{ w.name }}-http-router{{ loop.index0 }} {{ w.ipa }}:443 check
{% endfor %}
{% else %}
{% for w in workers %}
	server {{ w.name }}-http-router{{ loop.index0 }} {{ w.ipa }}:443 check
{% endfor %}
{% endif %}

#---------------------------------------------------------------------
