$TTL 86400
@       IN      SOA     {{ site.domain }}.{{ site.name }}. root.{{ site.domain }}.{{ site.name }}. (
                        {{ serialnumber }}    ;serial
                        1D             ;refresh
                        1H             ;retry
                        1W             ;expire
                        1D )           ;minimum TTL
;
       IN      NS      ns1.{{ site.domain }}.{{ site.name }}.
       IN      NS      ns2.{{ site.domain }}.{{ site.name }}.
;
; *****************************************************************************
; Name Server-Information
; *****************************************************************************
{{ dns_primary.ipa.split('.')[3] }}		IN	PTR	ns1.{{ site.domain }}.{{ site.name }}.
{{ dns_secondary.ipa.split('.')[3] }}		IN	PTR	ns2.{{ site.domain }}.{{ site.name }}.
;
; *****************************************************************************
; Site Support Nodes
; *****************************************************************************
{{ dns_primary.ipa.split('.')[3] }}		IN	PTR	{{ dns_primary.name }}.{{ site.domain }}.{{ site.name }}.
{{ dns_secondary.ipa.split('.')[3] }}		IN	PTR	{{ dns_secondary.name }}.{{ site.domain }}.{{ site.name }}.
;
{{ tool.ipa.split('.')[3] }}		IN	PTR	{{ tool.name }}.{{ site.domain }}.{{ site.name }}.
;
{{ storage.ipa.split('.')[3] }}		IN	PTR	{{ storage.name }}.{{ site.domain }}.{{ site.name }}.
;
{{ haproxy.ipa.split('.')[3] }}		IN	PTR	{{ haproxy.name }}.{{ site.domain }}.{{ site.name }}.
;
{{ glrunner.ipa.split('.')[3] }}		IN	PTR	{{ glrunner.name }}.{{ site.domain }}.{{ site.name }}.
;
{% if gitlab is defined %}
{{ gitlab.ipa.split('.')[3] }}		IN	PTR	{{ gitlab.name }}.{{ site.domain }}.{{ site.name }}.
{% endif %}
;
{% if katello is defined %}
{{ katello.ipa.split('.')[3] }}		IN	PTR	{{ katello.name }}.{{ site.domain }}.{{ site.name }}.
{% endif %}
;
{% if idm is defined %}
{{ idm.ipa.split('.')[3] }}		IN	PTR	{{ idm.name }}.{{ site.domain }}.{{ site.name }}.
{% endif %}
;
{% for db in database %}
{{ db.ipa.split('.')[3] }}		IN	PTR	{{ db.name }}.{{ site.domain }}.{{ site.name }}.
{% endfor %}
;
; *****************************************************************************
; The api points to the IP of your load balancer
; *****************************************************************************
{{ haproxy.ipa.split('.')[3] }}		IN	PTR	api.{{ site.domain }}.{{ site.name }}.
{{ haproxy.ipa.split('.')[3] }}		IN	PTR	api-int.{{ site.domain }}.{{ site.name }}.
;
; *****************************************************************************
; The various openshift hostnames
 *****************************************************************************
{{ haproxy.ipa.split('.')[3] }}		IN	PTR	console-openshift-console.apps.{{ site.domain }}.{{ site.name }}.
{{ haproxy.ipa.split('.')[3] }}		IN	PTR	downloads-openshift-console.apps.{{ site.domain }}.{{ site.name }}.
{{ haproxy.ipa.split('.')[3] }}		IN	PTR	grafana-openshift-monitoring.apps.{{ site.domain }}.{{ site.name }}.
{{ haproxy.ipa.split('.')[3] }}		IN	PTR	oauth-openshift.apps.{{ site.domain }}.{{ site.name }}.
{{ haproxy.ipa.split('.')[3] }}		IN	PTR	prometheus-k8s-openshift-console.apps.{{ site.domain }}.{{ site.name }}.
{{ haproxy.ipa.split('.')[3] }}		IN	PTR	router-default.apps.{{ site.domain }}.{{ site.name }}.
;
{{ haproxy.ipa.split('.')[3] }}		IN	PTR	openshift.{{ site.domain }}.{{ site.name }}.
;
;EOF
